<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img class="p-cursor" src="assets/img/h_search.png" alt="icon for search" width="20">
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 p-flex-align-center p-flex-jc-sb">                
                <ul>
                    <li>
                        <a href="#" [routerLink]="['/']" [routerLinkActive]="['active']">HOME</a>
                    </li>
                    <li>
                        <a href="#">ABOUT</a>
                    </li>
                    <li>
                        <a href="#">PORTFOLIO</a>
                    </li>
                    <li>
                        <a href="#">REACH</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header> 




