.p-profile{
    background: url(/assets/img/arjun.jpeg);
    max-width: 100%;
    
    height: 400px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.p-tag{
    background-color: #989898;
    color: #fff;
    padding: 3px;
    font-size: 14px;
}